#page-left-foursquare-wrapper {
	border: 1px solid #DBDBDB;
	background-color: rgba(255, 255, 255, 0.85);
	padding: 25px;
	margin-bottom: 25px;
}
li {
	list-style: none;
}

.bold {
	font-weight: bold;
}

h2 {
	font-weight: normal;
	text-align: center;
}